<!-- game/templates/game/room.html -->
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8"/>
    <title>{{room_name_json}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'game/room.css' %}">
</head>
<body>
    <div id="container"
        ><div id="player_area_top" class="player_area" onclick="chooseColor('red')">
            <div id=red_options style="display: none;">
                <button id="end_turn_red"  onclick="updateDatabase();"> End Turn </button>
                <button id="place_village_red" onclick="selectVillagePlacement();">Village ({{room.red_villages_available}})</button>
                <button id="place_city_red" onclick="selectCityPlacement();">City ({{room.red_cities_available}})</button>
                <button id="place_road_red" onclick="selectRoadPlacement();">Road ({{room.red_roads_available}})</button>
                <button id="move_thief_red" onclick="selectThiefPlacement();">Thief</button>
                <button id="roll_dice_red" onclick="rollDice();">Roll Dice</button>
            </div>
         </div
        ><div id="player_area_left" class="player_area" onclick="chooseColor('blue')">
            <div id=blue_options style="display: none;">
                <button id="end_turn_blue"  onclick="updateDatabase();"> End Turn </button>
                <button id="place_village_blue" onclick="selectVillagePlacement();">Village ({{room.blue_villages_available}})</button>
                <button id="place_city_blue" onclick="selectCityPlacement();">City ({{room.blue_cities_available}})</button>
                <button id="place_road_blue" onclick="selectRoadPlacement();">Road ({{room.blue_roads_available}})</button>
                <button id="move_thief_blue" onclick="selectThiefPlacement();">Thief</button>
                <button id="roll_dice_blue" onclick="rollDice();">Roll Dice</button>
            </div>
        </div
        ><div id="board"
            ><canvas id="board_canvas" width="1000px" height="1000px">
                
            </canvas
        ></div
        ><div id="player_area_right" class="player_area" onclick="chooseColor('green')">
            <div id=green_options style="display: none;">
                <button id="end_turn_green"  onclick="updateDatabase();"> End Turn </button>
                <button id="place_village_green" onclick="selectVillagePlacement();">Village ({{room.green_villages_available}})</button>
                <button id="place_city_green" onclick="selectCityPlacement();">City ({{room.green_cities_available}})</button>
                <button id="place_road_green" onclick="selectRoadPlacement();">Road ({{room.green_roads_available}})</button>
                <button id="move_thief_green" onclick="selectThiefPlacement();">Thief</button>
                <button id="roll_dice_green" onclick="rollDice();">Roll Dice</button>
            </div>
        </div
        ><div id="player_area_bottom" class="player_area" onclick="chooseColor('white')">
            <div id=white_options style="display: none;">
                <button id="end_turn_white"  onclick="updateDatabase();"> End Turn </button>
                <button id="place_village_white" onclick="selectVillagePlacement();">Village ({{room.white_villages_available}})</button>
                <button id="place_city_white" onclick="selectCityPlacement();">City ({{room.white_cities_available}})</button>
                <button id="place_road_white" onclick="selectRoadPlacement();">Road ({{room.white_roads_available}})</button>
                <button id="move_thief_white" onclick="selectThiefPlacement();">Thief</button>
                <button id="roll_dice_white" onclick="rollDice();">Roll Dice</button>
            </div>
        </div
    ></div
    ><div id="chat" 
        ><textarea id="chat-log" cols="40" rows="45"></textarea><br/
        ><input id="chat-message-input" type="text" size="36"/
        ><input id="chat-message-submit" type="button" value="Send"/
    ></div
    ><div style="display: none;">
        <img src="{% static 'game/forest.png' %}" id="forest_image">
        <img src="{% static 'game/pasture.png' %}" id="pasture_image">
        <img src="{% static 'game/fields.png' %}" id="fields_image">
        <img src="{% static 'game/hills.png' %}" id="hills_image">
        <img src="{% static 'game/mountains.png' %}" id="mountains_image">
        <img src="{% static 'game/desert.png' %}" id="desert_image">
        <form id="form_id" method=POST>
            {% csrf_token %}
            {{form.as_p}}
        </form>
        <button>choose white</button>
    </div
></body>
<script>


var cos30 = 0.866025,
    sin30 = 0.5,
    tan30 = 0.577350,
    cos60 = 0.5,
    sin60 = 0.866025,
    radius = 100;

var fields = "{{room.fields}}".split(",");
var numbers = "{{room.numbers}}".split(",");

var thief_x = 0;
var thief_y = 0;

// villages
var red_villages_available;
var red_villages_placed_x = [];
var red_villages_placed_y = [];

var green_villages_available;
var green_villages_placed_x = [];
var green_villages_placed_y = [];

var blue_villages_available;
var blue_villages_placed_x = [];
var blue_villages_placed_y = [];

var white_villages_available;
var white_villages_placed_x = [];
var white_villages_placed_y = [];

// cities
var red_cities_available;
var red_cities_placed_x = [];
var red_cities_placed_y = [];

var green_cities_available;
var green_cities_placed_x = [];
var green_cities_placed_y = [];

var blue_cities_available;
var blue_cities_placed_x = [];
var blue_cities_placed_y = [];

var white_cities_available;
var white_cities_placed_x = [];
var white_cities_placed_y = [];

// roads
var red_roads_available;
var red_roads_placed_x = [];
var red_roads_placed_y = [];

var green_roads_available;
var green_roads_placed_x = [];
var green_roads_placed_y = [];

var blue_roads_available;
var blue_roads_placed_x = [];
var blue_roads_placed_y = [];

var white_roads_available;
var white_roads_placed_x = [];
var white_roads_placed_y = [];


var color = "none";
var placing = "nothing";

var forest_image = document.getElementById("forest_image");
var pasture_image = document.getElementById("pasture_image");
var fields_image = document.getElementById("fields_image");
var hills_image = document.getElementById("hills_image");
var mountains_image = document.getElementById("mountains_image");
var desert_image = document.getElementById("desert_image");


    window.onload = function(){
        var board_canvas = document.getElementById("board_canvas");
        color = getColor();
        // display selected color
        if(color=="none"){
            localChat("Please pick a color!");
        }
        // show end turn button and change chat color
        if(color!="none"){
            var player_options = document.getElementById(color + "_options");
            player_options.style.display = "block";
            var chat = document.getElementById("chat");
            chat.style.backgroundColor = color;
            localChat("Your color is " + color);
        }

        board_canvas.addEventListener("mousemove", function(eventInfo) {
            if(color=="none" || placing == "nothing")
                return;
            var [x,y] = getCursorPosition(board_canvas, eventInfo);
            var ctx = board_canvas.getContext('2d');
            clearBoard(ctx);
            drawBoard(ctx);
            switch(placing){
                case "village":
                    drawVillage(ctx, x, y, color);
                    break;
                case "city":
                    drawCity(ctx, x, y, color);
                    break;
                case "road":
                    drawRoad(ctx, x, y, color);
                    break;
                case "thief":
                    drawThief(ctx, x, y);
                    break;
            }
        });

        board_canvas.addEventListener("click", function(eventInfo){
            if(color=="none" || placing == "nothing")
                return;
            var [x, y] = getCursorPosition(board_canvas, eventInfo);
            x = Math.floor(x);
            y = Math.floor(y);
            var ctx = board_canvas.getContext("2d");

            switch(placing){
                case "village":
                    addVillage(x, y, color);
                    sendMessage({
                        'user': '{{user}}',
                        'message': 'addVillage',
                        'x': x,
                        'y': y,
                        'color': color
                    });
                    break;
                case "city":
                    addCity(x, y, color);
                    sendMessage({
                        'user': '{{user}}',
                        'message': 'addCity',
                        'x': x,
                        'y': y,
                        'color': color
                    });
                    break;
                case "road":
                    addRoad(x, y, color);
                    sendMessage({
                        'user': '{{user}}',
                        'message': 'addRoad',
                        'x': x,
                        'y': y,
                        'color': color
                    });
                    break;
                case "thief":
                    moveThief(x,y);
                    sendMessage({
                        'user': '{{user}}',
                        'message': 'moveThief',
                        'x': x,
                        'y': y,
                    });
            }
            

            clearBoard(ctx);
            drawBoard(ctx);
        });


    }

    function getVillagesFromServer(){
        //red
        red_villages_available = {{room.red_villages_available}};
        if("{{room.red_villages_placed_x}}" == "")
            red_villages_placed_x = [];
        else
            red_villages_placed_x = "{{room.red_villages_placed_x}}".split(',');
        if("{{room.red_villages_placed_y}}" == "")
            red_villages_placed_y = [];
        else
            red_villages_placed_y = "{{room.red_villages_placed_y}}".split(',');

        //green
        green_villages_available = {{room.green_villages_available}};
        if("{{room.green_villages_placed_x}}" == "")
            green_villages_placed_x = [];
        else
            green_villages_placed_x = "{{room.green_villages_placed_x}}".split(',');
        if("{{room.green_villages_placed_y}}" == "")
            green_villages_placed_y = [];
        else
            green_villages_placed_y = "{{room.green_villages_placed_y}}".split(',');

        // blue
        blue_villages_available = {{room.blue_villages_available}};
        if("{{room.blue_villages_placed_x}}" == "")
            blue_villages_placed_x = [];
        else
            blue_villages_placed_x = "{{room.blue_villages_placed_x}}".split(',');
        if("{{room.blue_villages_placed_y}}" == "")
            blue_villages_placed_y = [];
        else
            blue_villages_placed_y = "{{room.blue_villages_placed_y}}".split(',');

        // white
        white_villages_available = {{room.white_villages_available}};
        if("{{room.white_villages_placed_x}}" == "")
            white_villages_placed_x = [];
        else
            white_villages_placed_x = "{{room.white_villages_placed_x}}".split(',');
        if("{{room.white_villages_placed_y}}" == "")
            white_villages_placed_y = [];
        else
            white_villages_placed_y = "{{room.white_villages_placed_y}}".split(',');
    }

    function getCitiesFromServer(){
        //red
        red_cities_available = {{room.red_cities_available}};
        if("{{room.red_cities_placed_x}}" == "")
            red_cities_placed_x = [];
        else
            red_cities_placed_x = "{{room.red_cities_placed_x}}".split(',');
        if("{{room.red_cities_placed_y}}" == "")
            red_cities_placed_y = [];
        else
            red_cities_placed_y = "{{room.red_cities_placed_y}}".split(',');

        //green
        green_cities_available = {{room.green_cities_available}};
        if("{{room.green_cities_placed_x}}" == "")
            green_cities_placed_x = [];
        else
            green_cities_placed_x = "{{room.green_cities_placed_x}}".split(',');
        if("{{room.green_cities_placed_y}}" == "")
            green_cities_placed_y = [];
        else
            green_cities_placed_y = "{{room.green_cities_placed_y}}".split(',');

        // blue
        blue_cities_available = {{room.blue_cities_available}};
        if("{{room.blue_cities_placed_x}}" == "")
            blue_cities_placed_x = [];
        else
            blue_cities_placed_x = "{{room.blue_cities_placed_x}}".split(',');
        if("{{room.blue_cities_placed_y}}" == "")
            blue_cities_placed_y = [];
        else
            blue_cities_placed_y = "{{room.blue_cities_placed_y}}".split(',');

        // white
        white_cities_available = {{room.white_cities_available}};
        if("{{room.white_cities_placed_x}}" == "")
            white_cities_placed_x = [];
        else
            white_cities_placed_x = "{{room.white_cities_placed_x}}".split(',');
        if("{{room.white_cities_placed_y}}" == "")
            white_cities_placed_y = [];
        else
            white_cities_placed_y = "{{room.white_cities_placed_y}}".split(',');
    }

    function getRoadsFromServer(){
        //red
        red_roads_available = {{room.red_roads_available}};
        if("{{room.red_roads_placed_x}}" == "")
            red_roads_placed_x = [];
        else
            red_roads_placed_x = "{{room.red_roads_placed_x}}".split(',');
        if("{{room.red_roads_placed_y}}" == "")
            red_roads_placed_y = [];
        else
            red_roads_placed_y = "{{room.red_roads_placed_y}}".split(',');

        //green
        green_roads_available = {{room.green_roads_available}};
        if("{{room.green_roads_placed_x}}" == "")
            green_roads_placed_x = [];
        else
            green_roads_placed_x = "{{room.green_roads_placed_x}}".split(',');
        if("{{room.green_roads_placed_y}}" == "")
            green_roads_placed_y = [];
        else
            green_roads_placed_y = "{{room.green_roads_placed_y}}".split(',');

        // blue
        blue_roads_available = {{room.blue_roads_available}};
        if("{{room.blue_roads_placed_x}}" == "")
            blue_roads_placed_x = [];
        else
            blue_roads_placed_x = "{{room.blue_roads_placed_x}}".split(',');
        if("{{room.blue_roads_placed_y}}" == "")
            blue_roads_placed_y = [];
        else
            blue_roads_placed_y = "{{room.blue_roads_placed_y}}".split(',');

        // white
        white_roads_available = {{room.white_roads_available}};
        if("{{room.white_roads_placed_x}}" == "")
            white_roads_placed_x = [];
        else
            white_roads_placed_x = "{{room.white_roads_placed_x}}".split(',');
        if("{{room.white_roads_placed_y}}" == "")
            white_roads_placed_y = [];
        else
            white_roads_placed_y = "{{room.white_roads_placed_y}}".split(',');
    }

    function getThiefFromServer(){
        thief_x = {{room.thief_x}};
        thief_y = {{room.thief_y}};
    }

    function chooseColor(choice){
        if (color!= "none"){
            console.log("already " + color);
            return;
        }

        var field = document.getElementById("id_" + choice + "_player");
        for (var i=0; i < field.options.length; i++){
            if("{{user}}" == field.options[i].innerHTML){
                field.options.selectedIndex = i;
            }
        }

        sendMessage({
            'user': "{{user}}",
            'message': "changeColor",
            'color': choice,
            'timestamp': getTimeStamp()
        });
        updateDatabase();
        color = choice;
    }

    function getColor(){
        var field = document.getElementById("id_red_player");
        if(field.options[field.options.selectedIndex].innerHTML == "{{user}}")
            return "red";
        var field = document.getElementById("id_green_player");
        if(field.options[field.options.selectedIndex].innerHTML == "{{user}}")
            return "green";
        var field = document.getElementById("id_blue_player");
        if(field.options[field.options.selectedIndex].innerHTML == "{{user}}")
            return "blue";
        var field = document.getElementById("id_white_player");
        if(field.options[field.options.selectedIndex].innerHTML == "{{user}}")
            return "white";
        return "none";
    }

    function addVillage(x, y, c){
        switch (c){
            case "red":
                red_villages_available = red_villages_available - 1;
                red_villages_placed_x.push(x);
                red_villages_placed_y.push(y);
                var red_villages_available_form = document.getElementById("id_red_villages_available");
                var red_villages_placed_x_form = document.getElementById("id_red_villages_placed_x");
                var red_villages_placed_y_form = document.getElementById("id_red_villages_placed_y");
                red_villages_available_form.value = red_villages_available;
                red_villages_placed_x_form.value = red_villages_placed_x.toString();
                red_villages_placed_y_form.value = red_villages_placed_y.toString();
                var place_village_red_button = document.getElementById("place_village_red");
                place_village_red_button.innerHTML = "Village (" + red_villages_available + ")";
                break;
            case "green":
                green_villages_available = green_villages_available - 1;
                green_villages_placed_x.push(x);
                green_villages_placed_y.push(y);
                var green_villages_available_form = document.getElementById("id_green_villages_available");
                var green_villages_placed_x_form = document.getElementById("id_green_villages_placed_x");
                var green_villages_placed_y_form = document.getElementById("id_green_villages_placed_y");
                green_villages_available_form.value = green_villages_available;
                green_villages_placed_x_form.value = green_villages_placed_x.toString();
                green_villages_placed_y_form.value = green_villages_placed_y.toString();
                var place_village_green_button = document.getElementById("place_village_green");
                place_village_green_button.innerHTML = "Village (" + green_villages_available + ")";
                break;
            case "blue":
                blue_villages_available = blue_villages_available -1;
                blue_villages_placed_x.push(x);
                blue_villages_placed_y.push(y);
                var blue_villages_available_form = document.getElementById("id_blue_villages_available");
                var blue_villages_placed_x_form = document.getElementById("id_blue_villages_placed_x");
                var blue_villages_placed_y_form = document.getElementById("id_blue_villages_placed_y");
                blue_villages_available_form.value = blue_villages_available;
                blue_villages_placed_x_form.value = blue_villages_placed_x.toString();
                blue_villages_placed_y_form.value = blue_villages_placed_y.toString();
                var place_village_white_button = document.getElementById("place_village_blue");
                place_village_white_button.innerHTML = "Village (" + blue_villages_available + ")";
                break;
            case "white":
                white_villages_available = white_villages_available -1;
                white_villages_placed_x.push(x);
                white_villages_placed_y.push(y);
                var white_villages_available_form = document.getElementById("id_white_villages_available");
                var white_villages_placed_x_form = document.getElementById("id_white_villages_placed_x");
                var white_villages_placed_y_form = document.getElementById("id_white_villages_placed_y");
                white_villages_available_form.value = white_villages_available;
                white_villages_placed_x_form.value = white_villages_placed_x.toString();
                white_villages_placed_y_form.value = white_villages_placed_y.toString();
                var place_village_white_button = document.getElementById("place_village_white");
                place_village_white_button.innerHTML = "Village (" + white_villages_available + ")";
                break;
        }
    }

    function addCity(x, y, c){
        switch (c){
            case "red":
                red_cities_available = red_cities_available -1;
                red_villages_available = red_villages_available + 1;
                red_cities_placed_x.push(x);
                red_cities_placed_y.push(y);
                var red_cities_available_form = document.getElementById("id_red_cities_available");
                var red_villages_available_form = document.getElementById("id_red_villages_available");
                var red_cities_placed_x_form = document.getElementById("id_red_cities_placed_x");
                var red_cities_placed_y_form = document.getElementById("id_red_cities_placed_y");
                red_cities_available_form.value = red_cities_available;
                red_villages_available_form.value = red_villages_available;
                red_cities_placed_x_form.value = red_cities_placed_x.toString();
                red_cities_placed_y_form.value = red_cities_placed_y.toString();
                var place_city_red_button = document.getElementById("place_city_red");
                place_city_red_button.innerHTML = "City (" + red_cities_available + ")";
                var place_village_red_button = document.getElementById("place_village_red");
                place_village_red_button.innerHTML = "Village (" + red_villages_available + ")";
                break;
            case "green":
                green_cities_available = green_cities_available -1;
                green_villages_available = green_villages_available + 1;
                green_cities_placed_x.push(x);
                green_cities_placed_y.push(y);
                var green_cities_available_form = document.getElementById("id_green_cities_available");
                var green_villages_available_form = document.getElementById("id_green_villages_available");
                var green_cities_placed_x_form = document.getElementById("id_green_cities_placed_x");
                var green_cities_placed_y_form = document.getElementById("id_green_cities_placed_y");
                green_cities_available_form.value = green_cities_available;
                green_villages_available_form.value = green_villages_available;
                green_cities_placed_x_form.value = green_cities_placed_x.toString();
                green_cities_placed_y_form.value = green_cities_placed_y.toString();
                var place_city_green_button = document.getElementById("place_city_green");
                place_city_green_button.innerHTML = "City (" + green_cities_available + ")";
                var place_village_green_button = document.getElementById("place_village_green");
                place_village_green_button.innerHTML = "Village (" + green_villages_available + ")";
                break;
            case "blue":
                blue_cities_available = blue_cities_available -1;
                blue_villages_available = blue_villages_available + 1;
                blue_cities_placed_x.push(x);
                blue_cities_placed_y.push(y);
                var blue_cities_available_form = document.getElementById("id_blue_cities_available");
                var blue_villages_available_form = document.getElementById("id_blue_villages_available");
                var blue_cities_placed_x_form = document.getElementById("id_blue_cities_placed_x");
                var blue_cities_placed_y_form = document.getElementById("id_blue_cities_placed_y");
                blue_cities_available_form.value = blue_cities_available;
                blue_villages_available_form.value = blue_villages_available;
                blue_cities_placed_x_form.value = blue_cities_placed_x.toString();
                blue_cities_placed_y_form.value = blue_cities_placed_y.toString();
                var place_city_blue_button = document.getElementById("place_city_blue");
                place_city_blue_button.innerHTML = "City (" + blue_cities_available + ")";
                var place_village_blue_button = document.getElementById("place_village_blue");
                place_village_blue_button.innerHTML = "Village (" + blue_villages_available + ")";
                break;
            case "white":
                white_cities_available = white_cities_available -1;
                white_villages_available = white_villages_available + 1;
                white_cities_placed_x.push(x);
                white_cities_placed_y.push(y);
                var white_cities_available_form = document.getElementById("id_white_cities_available");
                var white_villages_available_form = document.getElementById("id_white_villages_available");
                var white_cities_placed_x_form = document.getElementById("id_white_cities_placed_x");
                var white_cities_placed_y_form = document.getElementById("id_white_cities_placed_y");
                white_cities_available_form.value = white_cities_available;
                white_cities_placed_x_form.value = white_cities_placed_x.toString();
                white_cities_placed_y_form.value = white_cities_placed_y.toString();
                var place_city_white_button = document.getElementById("place_city_white");
                place_city_white_button.innerHTML = "City (" + white_cities_available + ")";
                var place_village_white_button = document.getElementById("place_village_white");
                place_village_white_button.innerHTML = "Village (" + white_villages_available + ")";
                break;
        }
    }

    function addRoad(x, y, c){
        switch (c){
            case "red":
                red_roads_available = red_roads_available -1;
                red_roads_placed_x.push(x);
                red_roads_placed_y.push(y);
                var red_roads_available_form = document.getElementById("id_red_roads_available");
                var red_roads_placed_x_form = document.getElementById("id_red_roads_placed_x");
                var red_roads_placed_y_form = document.getElementById("id_red_roads_placed_y");
                red_roads_available_form.value = red_roads_available;
                red_roads_placed_x_form.value = red_roads_placed_x.toString();
                red_roads_placed_y_form.value = red_roads_placed_y.toString();
                var place_road_red_button = document.getElementById("place_road_red");
                place_road_red_button.innerHTML = "Road (" + red_roads_available + ")";
                break;
            case "green":
                green_roads_available = green_roads_available -1;
                green_roads_placed_x.push(x);
                green_roads_placed_y.push(y);
                var green_roads_available_form = document.getElementById("id_green_roads_available");
                var green_roads_placed_x_form = document.getElementById("id_green_roads_placed_x");
                var green_roads_placed_y_form = document.getElementById("id_green_roads_placed_y");
                green_roads_available_form.value = green_roads_available;
                green_roads_placed_x_form.value = green_roads_placed_x.toString();
                green_roads_placed_y_form.value = green_roads_placed_y.toString();
                var place_road_green_button = document.getElementById("place_road_green");
                place_road_green_button.innerHTML = "Road (" + green_roads_available + ")";
                break;
            case "blue":
                blue_roads_available = blue_roads_available -1;
                blue_roads_placed_x.push(x);
                blue_roads_placed_y.push(y);
                var blue_roads_available_form = document.getElementById("id_blue_roads_available");
                var blue_roads_placed_x_form = document.getElementById("id_blue_roads_placed_x");
                var blue_roads_placed_y_form = document.getElementById("id_blue_roads_placed_y");
                blue_roads_available_form.value = blue_roads_available;
                blue_roads_placed_x_form.value = blue_roads_placed_x.toString();
                blue_roads_placed_y_form.value = blue_roads_placed_y.toString();
                var place_road_blue_button = document.getElementById("place_road_blue");
                place_road_blue_button.innerHTML = "Road (" + blue_roads_available + ")";
                break;
            case "white":
                white_roads_available = white_roads_available -1;
                white_roads_placed_x.push(x);
                white_roads_placed_y.push(y);
                var white_roads_available_form = document.getElementById("id_white_roads_available");
                var white_roads_placed_x_form = document.getElementById("id_white_roads_placed_x");
                var white_roads_placed_y_form = document.getElementById("id_white_roads_placed_y");
                white_roads_available_form.value = white_roads_available;
                white_roads_placed_x_form.value = white_roads_placed_x.toString();
                white_roads_placed_y_form.value = white_roads_placed_y.toString();
                var place_road_white_button = document.getElementById("place_road_white");
                place_road_white_button.innerHTML = "Road (" + white_roads_available + ")";
                break;
        }
    }

    function moveThief(x,y){
        thief_x = x;
        thief_y = y;
        var thief_x_form = document.getElementById("id_thief_x");
        var thief_y_form = document.getElementById("id_thief_y");
        thief_x_form.value = thief_x;
        thief_y_form.value = thief_y;
    }

    function getCursorPosition(canvas, event) {
        var rect = canvas.getBoundingClientRect(); // abs. size of element
        var scaleX = canvas.width / rect.width;    // relationship bitmap vs. element for X
        var scaleY = canvas.height / rect.height;  // relationship bitmap vs. element for Y

        var x = (event.clientX - rect.left) * scaleX;
        var y = (event.clientY - rect.top) * scaleY;

        var grid_size_x = 25;
        var grid_size_y = 20;

        x = Math.round((x+1)/grid_size_x ) * grid_size_x;
        y = Math.round((y+1)/grid_size_y ) * grid_size_y;

        return [x, y];
    }

    function randomise_array(array){
        let randomised = [];
        while(array.length > 0){
            let r = Math.floor(Math.random() * array.length);
            let value = array[r];
            array.splice(r, 1);
            randomised.push(value);
        }
        return randomised;
    }

    function clearBoard(canvasContext){
        canvasContext.clearRect(0, 0, board_canvas.width, board_canvas.height);
    }

    function drawBoard(canvasContext) {
        let x = 500,
            y= 500;

        let temp_fields = fields.slice();
        let temp_numbers = numbers.slice();

        drawHexagon(canvasContext, x,y, 0, temp_fields, temp_numbers);

        drawHexagon(canvasContext, x+1*radius*cos30/tan30, y-1*radius*sin30/tan30, 1, temp_fields, temp_numbers);
        drawHexagon(canvasContext, x+1*radius*cos30/tan30, y+1*radius*sin30/tan30, 2, temp_fields, temp_numbers);
        drawHexagon(canvasContext, x, y+1*radius/tan30, 3, temp_fields, temp_numbers);
        drawHexagon(canvasContext, x-1*radius*cos30/tan30, y+1*radius*sin30/tan30, 4, temp_fields, temp_numbers);
        drawHexagon(canvasContext, x-1*radius*cos30/tan30, y-1*radius*sin30/tan30, 5, temp_fields, temp_numbers);
        drawHexagon(canvasContext, x, y-1*radius/tan30, 6, temp_fields, temp_numbers);

        drawHexagon(canvasContext, x+1*radius*cos30/tan30, y-1*radius*sin30/tan30-1*radius/tan30, 7, temp_fields, temp_numbers);
        drawHexagon(canvasContext, x+2*radius*cos30/tan30, y-2*radius*sin30/tan30, 8, temp_fields, temp_numbers);
        drawHexagon(canvasContext, x+2*radius+2*radius*sin30, y, 9, temp_fields, temp_numbers);
        drawHexagon(canvasContext, x+2*radius*cos30/tan30, y+2*radius*sin30/tan30, 10, temp_fields, temp_numbers);
        drawHexagon(canvasContext, x+1*radius*cos30/tan30, y+1*radius*sin30/tan30+1*radius/tan30, 11, temp_fields, temp_numbers);
        drawHexagon(canvasContext, x, y+2*radius/tan30, 12, temp_fields, temp_numbers);
        drawHexagon(canvasContext, x-1*radius*cos30/tan30, y+1*radius*sin30/tan30+1*radius/tan30, 13, temp_fields, temp_numbers);
        drawHexagon(canvasContext, x-2*radius*cos30/tan30, y+2*radius*sin30/tan30, 14, temp_fields, temp_numbers);
        drawHexagon(canvasContext, x-2*radius-2*radius*sin30, y, 15, temp_fields, temp_numbers);
        drawHexagon(canvasContext, x-2*radius*cos30/tan30, y-2*radius*sin30/tan30, 16, temp_fields, temp_numbers);
        drawHexagon(canvasContext, x-1*radius*cos30/tan30, y-1*radius*sin30/tan30-1*radius/tan30, 17, temp_fields, temp_numbers);
        drawHexagon(canvasContext, x, y-2*radius/tan30, 18, temp_fields, temp_numbers);

        //thief
        if(thief_x != 0 || thief_y != 0){
            drawThief(canvasContext, thief_x, thief_y);
        }

        //villages
        for(var i = 0; i < red_villages_placed_x.length; i++){
            drawVillage(canvasContext, red_villages_placed_x[i], red_villages_placed_y[i], "red");
        }
        for(var i = 0; i < green_villages_placed_x.length; i++){
            drawVillage(canvasContext, green_villages_placed_x[i], green_villages_placed_y[i], "green");
        }
        for(var i = 0; i < blue_villages_placed_x.length; i++){
            drawVillage(canvasContext, blue_villages_placed_x[i], blue_villages_placed_y[i], "blue");
        }
        for(var i = 0; i < white_villages_placed_x.length; i++){
            drawVillage(canvasContext, white_villages_placed_x[i], white_villages_placed_y[i], "white");
        }
        //cities
        for(var i = 0; i < red_cities_placed_x.length; i++){
            drawCity(canvasContext, red_cities_placed_x[i], red_cities_placed_y[i], "red");
        }
        for(var i = 0; i < green_cities_placed_x.length; i++){
            drawCity(canvasContext, green_cities_placed_x[i], green_cities_placed_y[i], "green");
        }
        for(var i = 0; i < blue_cities_placed_x.length; i++){
            drawCity(canvasContext, blue_cities_placed_x[i], blue_cities_placed_y[i], "blue");
        }
        for(var i = 0; i < white_cities_placed_x.length; i++){
            drawCity(canvasContext, white_cities_placed_x[i], white_cities_placed_y[i], "white");
        }
        //roads
        for(var i = 0; i < red_roads_placed_x.length; i++){
            drawRoad(canvasContext, red_roads_placed_x[i], red_roads_placed_y[i], "red");
        }
        for(var i = 0; i < green_roads_placed_x.length; i++){
            drawRoad(canvasContext, green_roads_placed_x[i], green_roads_placed_y[i], "green");
        }
        for(var i = 0; i < blue_roads_placed_x.length; i++){
            drawRoad(canvasContext, blue_roads_placed_x[i], blue_roads_placed_y[i], "blue");
        }
        for(var i = 0; i < white_roads_placed_x.length; i++){
            drawRoad(canvasContext, white_roads_placed_x[i], white_roads_placed_y[i], "white");
        }
        
    }

    function drawHexagon(canvasContext, x, y, index, temp_fields, temp_numbers) {           
        let l = radius; 
        let img = pasture_image;
        let field = temp_fields.pop();
        if(field=="l")
            img = forest_image;
        if(field=="b")
            img = hills_image;
        if(field=="g")
            img = fields_image;
        if(field=="w")
            img = pasture_image;
        if(field=="o")
            img = mountains_image;
        if(field=="d")
            img = desert_image;

        canvasContext.drawImage(img, x-radius,y-radius,radius*2,radius*2);

        canvasContext.beginPath();
        canvasContext.moveTo(x + l, y);
        canvasContext.lineTo(x + l*0.5, y + l*0.866);
        canvasContext.lineTo(x - l*0.5, y + l*0.866);
        canvasContext.lineTo(x -l, y);
        canvasContext.lineTo(x -l*0.5, y-l*0.866);
        canvasContext.lineTo(x +l*0.5, y-l*0.866);
        canvasContext.closePath();
        //canvasContext.fill();

        canvasContext.strokeStyle = "#eee";
        canvasContext.lineWidth=20;
        canvasContext.stroke();
        if(thief_x == 0 && thief_y == 0 && field=="d"){
            drawThief(canvasContext, x, y);
        }
        if(field!="d"){
            canvasContext.beginPath();
            canvasContext.arc(x,y,l/3.5,0,2*Math.PI);
            canvasContext.fillStyle = "white";
            canvasContext.fill();
            canvasContext.strokeStyle = "#000";
            canvasContext.lineWidth=2;
            canvasContext.stroke();

            let number = temp_numbers.pop();
            canvasContext.font = "bold 30px Arial";
            canvasContext.fillStyle = (number==="6" || number==="8")? "#f00":"#000";
            canvasContext.textAlign = 'center';
            canvasContext.textBaseline = "middle";
            canvasContext.fillText(number, x,y);
            
        }
        canvasContext.closePath();
    }


    function drawVillage(ctx, x, y, color){
        ctx.beginPath();
        ctx.fillStyle = color;
        ctx.strokeStyle = "#000";
        ctx.lineWidth = 2;
        ctx.arc(x,y,25,0,2*Math.PI);
        ctx.fill();
        ctx.stroke();
        ctx.closePath();
    }
    function drawCity(ctx, x, y, color){
        ctx.beginPath();
        ctx.fillStyle = color;
        ctx.strokeStyle = "#FF0";
        ctx.lineWidth = 5;
        ctx.arc(x,y,25,0,2*Math.PI);
        ctx.fill();
        ctx.stroke();
        ctx.closePath();
    }
    function drawRoad(ctx, x, y, color){
        ctx.beginPath();
        ctx.fillStyle = color;
        ctx.strokeStyle = "#964B00";
        ctx.lineWidth = 10;
        ctx.arc(x,y,20,0,2*Math.PI);
        ctx.fill();
        ctx.stroke();
        ctx.closePath();
    }

    function drawThief(ctx, x, y){
        ctx.beginPath();
        ctx.fillStyle = "#333";
        ctx.arc(x,y,40,0,2*Math.PI);
        ctx.fill();
        ctx.closePath();
    }

    function selectVillagePlacement(){
        switch (color){
            case "red":
                if(red_villages_available==0)
                    return;
                break;
            case "green":
                if(green_villages_available==0)
                    return;
                break;
            case "blue":
                if(blue_villages_available==0)
                    return;
                break;
            case "white":
                if(white_villages_available==0)
                    return;
                break;
        }
        placing = "village";
    }
    function selectCityPlacement(){
        switch (color){
            case "red":
                if(red_cities_available==0)
                    return;
                break;
            case "green":
                if(green_cities_available==0)
                    return;
                break;
            case "blue":
                if(blue_cities_available==0)
                    return;
                break;
            case "white":
                if(white_cities_available==0)
                    return;
                break;
        }
        placing = "city";
    }
    function selectRoadPlacement(){
        switch (color){
            case "red":
                if(red_roads_available==0)
                    return;
                break;
            case "green":
                if(green_roads_available==0)
                    return;
                break;
            case "blue":
                if(blue_roads_available==0)
                    return;
                break;
            case "white":
                if(white_roads_available==0)
                    return;
                break;
        }
        placing = "road";
    }

    function selectThiefPlacement(){
        placing = "thief";
    }

    function rollDice(){
        var min = Math.ceil(1);
        var max = Math.floor(6);
        var dice_1 = Math.floor(Math.random() * (max - min + 1)) + min;
        var dice_2 = Math.floor(Math.random() * (max - min + 1)) + min;
        var result = dice_1 + dice_2;
        localChat("You rolled " + result + "!");
        sendMessage({
            'user': '{{user}}',
            'message': 'sendDice',
            'dice': result,
            'timestamp': getTimeStamp()
        });
    }

    var roomName = "{{ room.name }}";

    var chatSocket = new WebSocket(
        'wss://' + window.location.host +
        '/ws/game/' + roomName + '/');


    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        var timestamp = getTimeStamp();
        sendMessage({
            'user': '{{user}}',
            'message': 'sendChat',
            'chat': message,
            'timestamp': timestamp
        });
        var chat_entry = ("(" + timestamp + ")[{{user}}]: " + message + '\n');
        sendChat(chat_entry);
        messageInputDom.value = '';
    };

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        console.log(data);
        var message = data['message'];
        console.log(message);
        var sender = message['user'];
        if ('{{user}}'==sender) {
            console.log("Self message!!!");
            return;
        }
        var board_canvas = document.getElementById("board_canvas");
        var ctx = board_canvas.getContext('2d');

        switch(message['message']){
            case 'sendChat':
                var chat_message = message['chat'];
                var chat_sender = message['user'];
                var chat_timestamp = message['timestamp'];
                var chat_entry = ("(" + chat_timestamp + ")[" + chat_sender + "]: " + chat_message + '\n');
                localChat(chat_entry);
                break;

            case 'addVillage':
                addVillage(message['x'],message['y'], message['color']);
                clearBoard(ctx);
                drawBoard(ctx);
                break;

            case 'addCity':
                addCity(message['x'],message['y'], message['color']);
                clearBoard(ctx);
                drawBoard(ctx);
                break;

            case 'addRoad':
                addRoad(message['x'],message['y'], message['color']);
                clearBoard(ctx);
                drawBoard(ctx);
                break;

            case 'moveThief':
                moveThief(message['x'],message['y']);
                clearBoard(ctx);
                drawBoard(ctx);
                break;

            case 'sendDice':
                localChat("(" + message['timestamp'] + "): " + sender + " rolled " + message['dice'] + "!");
                break;

            case 'changeColor':
                localChat("(" + message['timestamp'] + "): " + sender + " is now " + message['color'] + "!");
                break;

        }
    };

    chatSocket.onopen = function(e){
        var board_canvas = document.getElementById("board_canvas");
        var ctx = board_canvas.getContext('2d');

        //get village positions
        getVillagesFromServer();
        //get city positions
        getCitiesFromServer();
        //get road positions
        getRoadsFromServer();
        //get thief position
        getThiefFromServer();

        clearBoard(ctx);
        drawBoard(ctx);
    };

    function sendMessage(json_message){
        var message = '{"message":' + JSON.stringify(json_message) + "}";
        console.log(message);
        chatSocket.send(message);
    }

    function localChat(message){
        document.querySelector('#chat-log').value += message + "\n";
    }

    function updateDatabase(){
        console.log("updating database");
        document.getElementById("form_id").submit();
    }

    function getTimeStamp(){
        var d = new Date;
        var timestamp = d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();
        return timestamp;
    }

</script>
</html>