<!-- game/templates/game/room.html -->
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8"/>
    <title>{{room_name_json}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'game/room.css' %}">
</head>
<body
    ><div id="container"
        ><div id="player_area_top" class="player_area"></div
        ><div id="player_area_left" class="player_area"></div
        ><div id="board"
            ><canvas id="board_canvas" width="1000px" height="1000px">
                
            </canvas
        ></div
        ><div id="player_area_right" class="player_area"></div
        ><div id="player_area_bottom" class="player_area">
            <button id="end_turn" onclick="updateDatabase();"> End Turn </button>
        </div
    ></div
    ><div id="chat" 
        ><textarea id="chat-log" cols="40" rows="45"></textarea><br/
        ><input id="chat-message-input" type="text" size="36"/
        ><input id="chat-message-submit" type="button" value="Send"/
    ></div
    ><div style="display: none;">
        <img src="{% static 'game/forest.png' %}" id="forest_image">
        <img src="{% static 'game/pasture.png' %}" id="pasture_image">
        <img src="{% static 'game/fields.png' %}" id="fields_image">
        <img src="{% static 'game/hills.png' %}" id="hills_image">
        <img src="{% static 'game/mountains.png' %}" id="mountains_image">
        <img src="{% static 'game/desert.png' %}" id="desert_image">
        <form id="form_id" method=POST>
            {% csrf_token %}
            {{form.as_p}}
        </form>
    </div
></body>
<script>
var cos30 = 0.866025,
    sin30 = 0.5,
    tan30 = 0.577350,
    cos60 = 0.5,
    sin60 = 0.866025,
    radius = 100;

var fields = "{{room.fields}}".split(",");
var numbers = "{{room.numbers}}".split(",");

var villagesX_string = "{{room.villagesX}}";
var villagesY_string = "{{room.villagesY}}";

var villagesX = villagesX_string;
var villagesY = villagesY_string;

if( villagesX == "None")
    villagesX = [];
else
    villagesX = villagesX.split(',');

if(villagesY == "None" )
    villagesY = [];
else
    villagesY = villagesY.split(',');

var forest_image = document.getElementById("forest_image");
var pasture_image = document.getElementById("pasture_image");
var fields_image = document.getElementById("fields_image");
var hills_image = document.getElementById("hills_image");
var mountains_image = document.getElementById("mountains_image");
var desert_image = document.getElementById("desert_image");


    window.onload = function(){
        var board_canvas = document.getElementById("board_canvas");

        board_canvas.addEventListener("mousemove", function(eventInfo) {
            var [x,y] = getCursorPosition(board_canvas, eventInfo);
            var ctx = board_canvas.getContext('2d');
            clearBoard(ctx);
            drawBoard(ctx);
            drawVillage(ctx, x, y, "red");
        });

        board_canvas.addEventListener("click", function(eventInfo){
            var [x, y] = getCursorPosition(board_canvas, eventInfo);
            x = Math.floor(x);
            y = Math.floor(y);
            var ctx = board_canvas.getContext("2d");

            addVillage(x, y);

            sendMessage({
                'user': '{{user}}',
                'message': 'addVillage',
                'x': x,
                'y': y
            });

            clearBoard(ctx);
            drawBoard(ctx);
        });
    }

    function addVillage(x, y){
            if(villagesX_string != "")
                villagesX_string += ",";
            villagesX_string += x;
            villagesX.push(x);

            if(villagesY_string != "")
                villagesY_string += ",";
            villagesY_string += y;
            villagesY.push(y);
    }

    function getCursorPosition(canvas, event) {
        var rect = canvas.getBoundingClientRect(); // abs. size of element
        var scaleX = canvas.width / rect.width;    // relationship bitmap vs. element for X
        var scaleY = canvas.height / rect.height;  // relationship bitmap vs. element for Y

        var x = (event.clientX - rect.left) * scaleX;
        var y = (event.clientY - rect.top) * scaleY;
        return [x, y];
    }

    function randomise_array(array){
        let randomised = [];
        while(array.length > 0){
            let r = Math.floor(Math.random() * array.length);
            let value = array[r];
            array.splice(r, 1);
            randomised.push(value);
        }
        return randomised;
    }
    function clearBoard(canvasContext){
        canvasContext.clearRect(0, 0, board_canvas.width, board_canvas.height);
    }
    function drawBoard(canvasContext) {
        let x = 500,
            y= 500;

        let temp_fields = fields.slice();
        let temp_numbers = numbers.slice();

        drawHexagon(canvasContext, x,y, 0, temp_fields, temp_numbers);

        drawHexagon(canvasContext, x+1*radius*cos30/tan30, y-1*radius*sin30/tan30, 1, temp_fields, temp_numbers);
        drawHexagon(canvasContext, x+1*radius*cos30/tan30, y+1*radius*sin30/tan30, 2, temp_fields, temp_numbers);
        drawHexagon(canvasContext, x, y+1*radius/tan30, 3, temp_fields, temp_numbers);
        drawHexagon(canvasContext, x-1*radius*cos30/tan30, y+1*radius*sin30/tan30, 4, temp_fields, temp_numbers);
        drawHexagon(canvasContext, x-1*radius*cos30/tan30, y-1*radius*sin30/tan30, 5, temp_fields, temp_numbers);
        drawHexagon(canvasContext, x, y-1*radius/tan30, 6, temp_fields, temp_numbers);

        drawHexagon(canvasContext, x+1*radius*cos30/tan30, y-1*radius*sin30/tan30-1*radius/tan30, 7, temp_fields, temp_numbers);
        drawHexagon(canvasContext, x+2*radius*cos30/tan30, y-2*radius*sin30/tan30, 8, temp_fields, temp_numbers);
        drawHexagon(canvasContext, x+2*radius+2*radius*sin30, y, 9, temp_fields, temp_numbers);
        drawHexagon(canvasContext, x+2*radius*cos30/tan30, y+2*radius*sin30/tan30, 10, temp_fields, temp_numbers);
        drawHexagon(canvasContext, x+1*radius*cos30/tan30, y+1*radius*sin30/tan30+1*radius/tan30, 11, temp_fields, temp_numbers);
        drawHexagon(canvasContext, x, y+2*radius/tan30, 12, temp_fields, temp_numbers);
        drawHexagon(canvasContext, x-1*radius*cos30/tan30, y+1*radius*sin30/tan30+1*radius/tan30, 13, temp_fields, temp_numbers);
        drawHexagon(canvasContext, x-2*radius*cos30/tan30, y+2*radius*sin30/tan30, 14, temp_fields, temp_numbers);
        drawHexagon(canvasContext, x-2*radius-2*radius*sin30, y, 15, temp_fields, temp_numbers);
        drawHexagon(canvasContext, x-2*radius*cos30/tan30, y-2*radius*sin30/tan30, 16, temp_fields, temp_numbers);
        drawHexagon(canvasContext, x-1*radius*cos30/tan30, y-1*radius*sin30/tan30-1*radius/tan30, 17, temp_fields, temp_numbers);
        drawHexagon(canvasContext, x, y-2*radius/tan30, 18, temp_fields, temp_numbers);

        for(var i = 0; i < villagesX.length; i++){
            drawVillage(canvasContext, villagesX[i], villagesY[i], "green");
        }
        
    }

    function drawHexagon(canvasContext, x, y, index, temp_fields, temp_numbers) {           
        let l = radius; 
        let img = pasture_image;
        let field = temp_fields.pop();
        if(field=="l")
            img = forest_image;
        if(field=="b")
            img = hills_image;
        if(field=="g")
            img = fields_image;
        if(field=="w")
            img = pasture_image;
        if(field=="o")
            img = mountains_image;
        if(field=="d")
            img = desert_image;

        canvasContext.drawImage(img, x-radius,y-radius,radius*2,radius*2);

        canvasContext.beginPath();
        canvasContext.moveTo(x + l, y);
        canvasContext.lineTo(x + l*0.5, y + l*0.866);
        canvasContext.lineTo(x - l*0.5, y + l*0.866);
        canvasContext.lineTo(x -l, y);
        canvasContext.lineTo(x -l*0.5, y-l*0.866);
        canvasContext.lineTo(x +l*0.5, y-l*0.866);
        canvasContext.closePath();
        //canvasContext.fill();

        canvasContext.strokeStyle = "#eee";
        canvasContext.lineWidth=20;
        canvasContext.stroke();
        if(field!="d"){
            canvasContext.beginPath();
            canvasContext.arc(x,y,l/3.5,0,2*Math.PI);
            canvasContext.fillStyle = "white";
            canvasContext.fill();
            canvasContext.strokeStyle = "#000";
            canvasContext.lineWidth=2;
            canvasContext.stroke();

            let number = temp_numbers.pop();
            canvasContext.font = "bold 30px Arial";
            canvasContext.fillStyle = (number==="6" || number==="8")? "#f00":"#000";
            canvasContext.textAlign = 'center';
            canvasContext.textBaseline = "middle";
            canvasContext.fillText(number, x,y);
            
        }
        canvasContext.closePath();
    }

    function drawVillage(ctx, x, y, color){
        ctx.beginPath();
        ctx.fillStyle = color;
        ctx.strokeStyle = "#000";
        ctx.lineWidth = 2;
        ctx.arc(x,y,25,0,2*Math.PI);
        ctx.fill();
        ctx.stroke();
        ctx.closePath();
    }

    var roomName = "{{ room.name }}";

    var chatSocket = new WebSocket(
        'wss://' + window.location.host +
        '/ws/game/' + roomName + '/');


    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        sendMessage({
            'user': '{{user}}',
            'message': 'sendChat',
            'chat': message
        });
        document.querySelector('#chat-log').value += ("[{{user}}]: " + message + '\n');
        messageInputDom.value = '';
    };

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        console.log(data);
        var message = data['message'];
        console.log(message);
        var sender = message['user'];
        if ('{{user}}'==sender) {
            console.log("Self message!!!");
            return;
        }
        var board_canvas = document.getElementById("board_canvas");
        var ctx = board_canvas.getContext('2d');

        switch(message['message']){
            case 'sendChat':
                var chat_message = message['chat'];
                var chat_sender = message['user'];
                document.querySelector('#chat-log').value += ("[" + chat_sender + "]: " + chat_message + '\n');

                break;
            case 'addVillage':
                addVillage(message['x'],message['y']);
                clearBoard(ctx);
                drawBoard(ctx);
                break;
        }
        //document.querySelector('#chat-log').value += (message + '\n');
    };

    chatSocket.onopen = function(e){
        console.log(chatSocket);
        var board_canvas = document.getElementById("board_canvas");
        var ctx = board_canvas.getContext('2d');
        clearBoard(ctx);
        drawBoard(ctx);
    };

    function sendMessage(json_message){
        var message = '{"message":' + JSON.stringify(json_message) + "}";
        console.log(message);
        chatSocket.send(message);
    }

    function updateDatabase(){
        document.getElementById("id_villagesX").value = villagesX_string;
        document.getElementById("id_villagesY").value = villagesY_string;
        document.getElementById("form_id").submit();
    }

</script>
</html>